.DS_Store
*~

game.js
game.js.map
resources.js
tool/star_rpg_editor/star_rpg_editor/star_rpg_editor.pro.user
tool/star_rpg_editor/star_rpg_editor-build-Desktop_Qt_5_0_1_clang_64bit-Debug
tool/star_rpg_editor/star_rpg_editor-build-Desktop_Qt_5_0_1_clang_64bit-Release